.register__form-button {
    margin-top: 190px;
    color: black;
    background-color: #FFFFFF;
    padding: 14px 18px;
    cursor: pointer;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: none;
    outline: none;
    z-index: 1;
    border-radius: 2px;
    transition: opacity 0.1s ease 0s;
}
.register__form-button:hover {
    opacity: 0.8;
  }
  
  @media screen and (min-width:320px) and (max-width: 551px) {
    .register__form-button {
      font-size: 14px;
      line-height: 17px;
      margin-top: 15px;
    }
  }