.popup__card-container {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 37px;
}




@media screen and (min-width:320px) and (max-width: 551px) {
  .popup__card-container {
    padding: 30px 20px 30px;
    margin: 0;
  }
}
