@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/root/root.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/hover/hover.css);
@import url(./blocks/header/__logo-box/header__logo-box.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__editbutton/profile__editbutton.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__profession/profile__profession.css);
@import url(./blocks/profile/__addbutton/profile__addbutton.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__plus/profile__plus.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__avatar-button/_focused/profile__avatar-button_focused.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like-container/element__like-container.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);
@import url(./blocks/element/__place/element__place.css);
@import url(./blocks/element/__text/element__text.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__cross/popup__cross.css);
@import url(./blocks/popup/__cross/_right/popup__cross_right.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__form-container/popup__form-container.css);
@import url(./blocks/popup/__form-heading/popum__form-heading.css);
@import url(./blocks/popup/__form-text/popup__form-text.css);
@import url(./blocks/popup/__form-button/popup__form-button.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/footer/__text/footer__text.css);
@import url(./blocks/element/__like/_active/element__like_active.css);
@import url(./blocks/element/__trash/element__trash.css);
@import url(./blocks/element/__trash/_hidden/element__trash_hidden.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__description/popup__description.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__card/popup__card.css);
@import url(./blocks/popup/__card-button/popup__card-button.css);
@import url(./blocks/popup/__card-container/popup__card-container.css);
@import url(./blocks/popup/__card-text/popup__card-text.css);
@import url(./blocks/popup/__card-heading/popup__card-heading.css);
@import url(./blocks/popup/__avatar-heading/popup__avatar-heading.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__form/_type/popup__form_type_error.css);
@import url(./blocks/popup/__form-button/_disabled/popup__form-button_disabled.css);
@import url(./blocks/popup/__form-button/_hidden/popup__form-button_hidden.css);