.header {
  min-width: 880px;
  margin: 45px auto 0;
  align-self: center;
  border-bottom: 1px solid rgba(84,84,84, 0.7);
}

@media screen and (min-width:320px) and (max-width: 551px) {
  .header {
    min-width: 100%;
    margin: 28px auto 0;
  }
}

@media screen and (min-width:551px) and (max-width: 1200px) {
  .header {
    min-width: 95%;
  }
}
