.popup {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1;
  font-family: 'Inter', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: opacity ease, visibility 0s ease 1s;
}
